* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html {
	font-size: 62.5%;
    font-family: monospace;
}
header {
    width: 100vw;
    height: 7.5vh;
    display: flex;
    justify-content: center;
}

header h1{
    font-size: 4.8rem;
}
main {
    display: flex;
    justify-content: center;
}
.box {
    background-color: aquamarine;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 92.5vh;
}

.box label{
    font-size: 2.4rem;
}

.box form{
    display: flex;
    align-items: center;
}
